
.navbar {
    overflow: hidden;
    background-color: rgb(105, 49, 49);
    height:70px;
    border-radius: 10px;
    width: 100%;
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  }
.navbar a {
     
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 7px;
  }
  .search-container {
    float: right;
  }
  .search-bar {
      margin: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  .search-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .search-button:hover{
      background-color: black;
      color:#4CAF50
  }
  .texxt{
      color: rgb(255, 0, 0);
      margin-right: -15em;
  }